<div class="article-container" [ngClass]="{'desktop':!isMobile}">

  <h2>Investigating Web3.js: Understanding missing transaction data in contract.send</h2>

  <h3>Preparation</h3>
  <p>
  By the time I had deployed the MiniatureTrading smart contract into the test network and added an Angular web app for minted miniature gallery support via Remix IDE, I was ready to add the minting function. I checked the web3.js documentation:
  </p>
  <app-code-snippet [code]="codeSnippedDocsSample" [isMobile]="isMobile"></app-code-snippet>
  <p>
  According to the documentation, I added the following function to my code:
  </p>
  <app-code-snippet [code]="codeSnippetContractSend" [isMobile]="isMobile"></app-code-snippet>
  <p>
  But to my surprise, I encountered a roadblock: "Transaction Failed." So, let's grab a cookie and a hot drink because we're about to dive into the investigation.
  </p>

  <h3>Workaround</h3>
  <p>Etherscan is your trusted companion when trying to decipher the reasons behind transaction failures. It didn't let me down this time either. As I opened the transaction details, to compare transaction data sent by my app with that of Remix IDE, I was met with an unexpected sight - 0x stared back at me (or was it the other way around?)</p>
  <p>But I was determined to see my miniature minted, so I took a raw approach:</p>
  <app-code-snippet [code]="codeSnippedRawSend" [isMobile]="isMobile"></app-code-snippet>
  <p>You guessed it, that worked like a charm. But why resort to such a brute force method when I had my elegant contract object at my disposal, right? So, I took matters into my own hands, modified the transaction options, and explicitly added data with <b>encodeABI</b>. As expected, the gallery was soon filled with the awaited miniatures.</p>


  <h3>Debugging</h3>
  <p>So, you're probably wondering why it didn't work initially, and trust me, I was too. There's no one better to provide answers than the web3 library itself. My debugging journey led me to a particular function in <b>utils.js</b> within the <b>web3-eth-contract</b> library: <b>getSendTxParams</b>. This is where our transaction parameters object is constructed, and notably, there's no data parameter set explicitly here:</p>
  <app-code-snippet [code]="codeSnippetSendParams" [isMobile]="isMobile"></app-code-snippet>
  <p>As you might have guessed, when data is not provided via transaction options, it's missing in action. So, let's roll up our sleeves and modify this function to ensure data is populated based on our input:</p>

  <app-code-snippet [code]="codeSnippetSendParamsModified" [isMobile]="isMobile"></app-code-snippet>
  <h3>Further Actions</h3>
  <p>Now that I've unraveled the details of what happened, there are still lingering questions. Is this intended behavior, or is it a bug? Well, that's a question for me to ask the web3.js dev team.</p>
  <p>The central takeaway from this investigation is not solely the solution itself, but the approach to its discovery – delving into the source code of libraries we use.</p>

</div>
