.code-snippet {
  background-color: rgb(25, 25, 26);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: auto;
  
  code {
    display: block;
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .language {
    font-size: 0.8rem;
    font-weight: bold;
    color: #666;
    margin-bottom: 0.5rem;
  }
}
