.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin: 0 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 12px;
}

.menu-item:hover {
  color: #f99e1c;
}

.menu-item-selected {
  color: #f99e1c;
}

.logo {
  width: 200px;
}